/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  /* Homepage Styling */
  .header {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
  /* Login and Register Pages Styling */
  .login-section, .register-section {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
  }
  
  /* form { */
  /* Candidate Search Page Styling */
  .search-section {
    background-color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .candidates-list {
    margin-top: 20px;
    text-align: left;
  }
  
  /* Animations */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .fadeIn {
    animation: fadeIn 2s ease-in-out;
  }
  
  .slideIn {
    animation: slideIn 1s ease-in-out;
  }
  